.nav-container {
    display: flex;
    justify-content: center;
}
.navbar {
    background-color: aqua;
    border-radius: 24px;
    height: 40px;
    width: fit-content;
    font-size: 18px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 31px;

}
.highlighted-nav {
    padding: 4px 8px;
    border-radius: 18px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.4s ease-in-out;
}
.highlighted-nav:focus {
    background-color: red;
    margin: 1px 1px;
    transform: translateY(0%);
}
.highlighted-nav:hover {
    /* background-color: darkgrey; */
        transform: translateY(-10%);
    }

    .flex-layout {
        display: flex;
    }

    .left, .right {
        display: flex;
        flex-direction: column;
    }

    .left-img, .right-img {
        height: 280px;
        width: 280px;
    }

    .profile-img {
        height: 420px;
        width: 280px;
    }

    .title-text {
        font-weight: 500;
        font-family: public sans, sans-serif;
        font-size: 48px;
        /* position: relative;
        top: -90px; */

    }

    .skills {
        font-weight: 100;
        font-family: public sans, sans-serif;
        /* display: flex;
        justify-content: center; */
        position: relative;
        top: -30px;
    }
    .skills span {
        position: absolute;
        height: 100%;
        opacity: 0;
        perspective: 300px;
        animation: flipAnimation 9s linear infinite;

        @keyframes flipAnimation {
            0% {
                transform: translateY
            }
        }
    }
    .background-text {
        font-family: public sans, sans-serif;
        font-size: 240px;
        font-weight: 900;
        position: absolute;
        z-index: -1;
        text-wrap: nowrap;
        top: 300px;
        animation: slidingText 3s linear infinite;
    } */

    .background-text {
        width: 100%;
        text-align: center;
    }

    .profile-img-container, .profile-img-back {
        background-color: rgb(102, 112, 255);
        height: 280px;
        overflow: hidden;
        border-radius: 40px;
        transition: transform 0.5s ease-in-out;
        width: 280px;
        position: relative;

    }

    .profile-img-back {
        text-align: center;
        transform: rotateY(180deg);
        position: absolute;
        top: 375px;
        z-index: -1;

    }
    .profile-img-container {
        backface-visibility: hidden;
    }
    .page-container {
        display: flex;
        justify-content: center;
    }

    /* ..profile-img-back:hover {} */

    .profile-container:hover, .profile-img-back {
        transform: rotateY(0deg);
    }

    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .right-img, .left-img,{
        animation: bouncingAnimation 4s linear infinite;
    }

    @keyframes bouncingAnimation {
        0% {
            transform: translateY(0px);
        }
        25% {
            transform: translateY(10px);

        }
        50% {
            transform: translateY(0px);
        }
        75% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0px);
        }
    }

    @keyframes slidingText {
        0% {
            transform: translateX(0px);
        }
        50% {
            /* transform: translateX(100px); */
        }
        75% {
            transform: translateX(-100px);
        }
        100% {
            transform: translateX(300px);
        }
    }
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* .text-container { */
    /* position: relative; */
    /* overflow: hidden; Hide overflow */
    /* height: 240px; */
}
.background-text {
    font-family: public sans, sans-serif;
    font-size: 240px;
    font-weight: 700;
    position: relative;
    top: 300PX;
    z-index: -1;
    white-space: nowrap;
    animation: slide 5s linear infinite;
}
.cta-text {
    border: 5px solid #EFF0FF;
    border-radius: 30px;
    padding: 20px;
    font-weight: 700;
    margin-top: 40PX;
    font-size: 24PX;
}
.cta-text span {
    display: inline-block;
    margin: 5px 20px;
}
.cta-arrow-image {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: rgb(1, 0, 0);
    opacity: 0;
    transition: all 1s ease-in-out;
}
.cta-text;hover ~ .cta-arrow-image {
    opacity: 1;
    transform: rotate(180deg) ;
}