  .nav-container {
    display: flex;
    justify-content: center;
    height: 50px;

  }
  .navbar {
    background-color: aqua;
    border-radius: 24px;
    height: 40px;
    width: fit-content;
    font-size: 18px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 31px; 
    position: fixed;
    z-index: 1;
    

}
.highlighted-nav {
    padding: 4px 8px;
    border-radius: 18px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.4s ease-in-out;
}
.highlighted-nav:focus {
    background-color: red;
    margin: 1px 1px;
    transform: translateY(0%);
}
 
  .highlighted-nav:hover {
    transform: translateY(-10%);
  }
  
  .flex-layout {
    display: flex;
  }
  
  .left,
  .right{
    display: flex;
    flex-direction: column;
  }
  
  .left-img,
  .right-img, .left-img-b, .right-img-b {
    height: 280px;
    width: 280px;
  }
  
  .profile-img-container, .profile-img-back {
    background-color: rgb(102, 112, 255);
    height: 280px;
    overflow: hidden;
    border-radius: 40px;
    transition: transform 0.5s ease-in-out;
    width: 280px;
  }
  
  .profile-img-container {
      backface-visibility: hidden;
  }
  
  .profile-img-back {
      text-align: center;
      transform: rotateY(180deg);
      position: absolute;
      top: 365px;
      z-index: -1;
  }
  /* .profile-img-back:hover {
  } */
  
  .profile-container:hover .profile-img-container {
      transform: rotateY(180deg);
  }
  .profile-container:hover .profile-img-back  {
      transform: rotateY(0deg);
  }
  
  .sliding-text-container {
      width: 100%;
      overflow: hidden;
  }
  .bg-text {
      position: absolute;
      font-size: 240px;
      font-weight: 900;
      z-index: -1;
      top: 350px;
    }
  
    .sliding-text {
      display: flex;
      width: max-content;
      animation: slide 20s linear infinite;
    }
  
    .sliding-text span {
      white-space: nowrap;
    }
  
    @keyframes slide {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%); /* Adjust based on the number of duplicates */
      }
    }
  
  .title-text {
    font-family: Public Sans, sans-serif;
    font-size: 48px;
    font-weight: 500;
    position: relative;
    top: -120px;
  }
  .profile-img {
    height: 420px;
    width: 280px;
  }
  .back-img{
    height: 280px;
    width: 280px;
  }
  
  .flex-layout {
    display: flex;
    justify-content: center;
    margin-left: 10px;
  }
  
  .background-text {
    text-align: center;
    width: 100%;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-img-b{
    margin-left: -50px;
  }
  .right-img-b{
    margin-left: 50px;
  }
  
  .right-img, .left-img, .right-img-b, .left-img-b{
    animation: bouncingAnimation 3s linear infinite;
  }
  
  @keyframes bouncingAnimation {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes slidingText {
      0% {
          transform: translateX(0);
      }
      /* 95% {
          transform: translateX(-95%);
      } */
      100% {
          transform: translateX(-100%);
      }
  }
  .testimonials{
    display: flex;
    justify-content: center;
    position: relative;
    top: -220px;
  }
  .img-1, .img-2, .img-3{
    height: 40px;
    width: 40px;
    position: relative;
    top: -12px;
    margin-right: 30px;
  }
  .img-1{
    margin-right: -7px;
  }
  .img-3{
    margin-left: -35px;
  }
  .flip-text{
    position: relative;
    top: -80px;
    height: 0%;
  }
  .skills{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 8px;
  }
 .skills span {
    height: 100%;
    opacity: 1;
    perspective: 300px;
    transition: transform 3s ease-in-out;
    animation: flipAnimation 3s linear infinite;
  }

  @keyframes flipAnimation {
        0% {
            transform: translateY(0%);
        }
        50% {
          transform: translateY(50%);
        }
        75% {
          transform: translateY(50%);
        }
        100% {
          transform: translateY(0%);
        }
  }
  .cv{
  border: 5px solid #EFF0FF;
  border-radius: 50px;
  font-size: 25px;
  font-weight: 500;
  padding: 25px;
  width: 200px;
}
.cv-conatainer{
  position: relative;
  top: 50px;
}
.cv-image{
  height: 70ppx;
  width: 70px;
  background-color: rgb(1, 0, 0);
  display: flex;
  position: relative;
  left
    
}
  .cta-container{
    /* width: 300px; */
    position: relative;
    top: -220px;
    display: flex;
    justify-content: center;
    margin-left: 5px;
  }
  .cta-text {
    border: 5px solid #EFF0FF;
    border-radius: 50px;
    padding: 20px;
    font-weight: 700;
    margin-top: 40PX;
    font-size: 24px;
    width: 300px;
  
  }
  .cta-text span {
    /* display: inline-block; */
    /* margin: 5px 20px; */
  }
  .cta-arrow-image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(1, 0, 0);
    opacity: 0;
    transition: all 1s ease-in-out;
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
    margin-left: -70px;
  }
  .cta-text:hover ~ .cta-arrow-image {
    opacity: 1;
    transform: rotate(-360deg);
  }
  .about-section {
    height: 1340px;
    display: flex;
    margin-top: 40px; 
    flex-direction: column;
    align-items: center;
    position: relative; 
    
}
 .about {
    font-size: 40px;
    margin-top: 60px;
    position: sticky;
    top: 100px;
    display: flex;
    justify-content: center;
}
.cards span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 40px;
    /* border: 1px dashed black; */
    width: 800px;
    margin-top: 60px;
    position: sticky;
    top: 170px;
    background-color: aliceblue;
}
.bio{
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 900;
  color: darkslategray;
}
:root{
  font-family: sans-serif;
}


  
  .footer{
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-top: 100px;
  }
  .details-container{
    height: 300px;
    width: 1120px;
    flex-direction: row;
    margin-right:370px;
  }
  .left-details-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .left-details{
    font-size: 30px;
    color: rgb(107, 100, 100);
  }
  .center-details-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -245px;
    margin-left: 60px;
  }
  .center-details{
    font-size: 30px;
    color: rgb(107, 100, 100);
  }
  .right-details-container{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    top: -542px;
    margin-right: 40px;
  }
  .right-details{
    font-size: 30px;
    color: rgb(107, 100, 100);
  }
  .footer-text{
    font-weight: 900;
    font-size: 260px;
    display: flex;
    align-items: center;
    position: relative;
    top: -580px;
    margin-left: -50px;
  }
